* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
}

body {
	font: 12px "宋体";
	background: #fff;
	-webkit-text-size-adjust: 100%;
}

a {
	color: #2d374b;
	text-decoration: none
}body,
img,
input,
ul,
li,
h3,
p,
dl,
dd,
dt {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	list-style-type: none;
}

a {
	text-decoration: none;
}

button,
input {
	outline: none;
}
#topOne{
	width: 100%;
	height: 35px;
	background: #f7f7f7;
	display: block;
}
#topOne .nav-link{
	width: 1200px;
	margin: auto;
	cursor: pointer;
	height: 35px;
    border-bottom: 1px solid #e5e5e5;
}
#topOne .nav-link a{
	display: inline;
	width: 60px;
	height: 35px;
	padding: 0 5px;
	line-height: 35px;
}
#topOne .nav-link em{
	height: 34px;
	margin: 0 10px;
    color: #d9d9d9;
}
.user{
	height: 36px;
	width: 120px;
	display: block;
	float: right;
}
.user a:hover{
	color: red;
}
/*Top样式*/

#Top {
	width: 1000px;
	height: 70px;
	margin: 0px auto;
	padding-top: -50px;
	margin-top: 10px;
}

#Top .logo {
	width: 215px;
	height: 70px;
	float: left;
	/*左浮动*/
}

#Top .search {
	width: 370px;
	height: 70px;
	float: left;
	position: relative;
}

#Top .search input .txt {
	width: 310px;
	height: 38px;
	overflow: hidden;
	border: 1px solid #ddd;
	outline: none;
}

#Top .search input .but {
	width: 42px;
	height: 40px;
	border: 0px;
	background: url("../images/ser_but.png");
	position: absolute;
	left: 312px;
	top: 0px;
}


/*导航样式*/

#Logo {
	width: 100%;
	height: 50px;
	background-color: #3e3d43;
	top: -50px;
}

#Logo ul {
	width: 1200px;
	height: 50px;
	margin: 0px auto;
	position: relative;
}

#Logo ul li {
	height: 50px;
	width: 136.6px;
	list-style-type: none;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
}

#Logo .first .iconfont>div{
	position: absolute;
	display: block;
    width: 16px;
    height: 20px;
    margin: 18px auto;
    margin-left: 40px;
}
#Logo .first .iconfont>div>i{
	display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
    background: #d5d5d6;
	
}
#Logo ul li a {
	color: #fff;
	display: block;
	padding: 0px 30px;
	position: relative;
	z-index: 3;
}

#Logo ul li.first {
	width: 190px;
	background-color: #313035;
	cursor: pointer;
}

#Logo ul li.first span {
	font-family: "微软雅黑" !important;
	color: #FFFFFFf;
	font-size: 16px;
	padding-right: 10px;
	font-weight: 700;
	
}

#Logo ul li.last {
	width: 100px;
	height: 50px;
	position: absolute;
	left: 190px;
	z-index: 2;
	display: none;
	background-color: #252428;
	border-top: 2px solid #ed4259;
}


/*头部焦点部分样式*/

#Foucs {
	width: 100%;
	height: 420px;
}

#Foucs .FoucsCommon {
	width: 1200px;
	height: 420px;
	margin: 0px auto;
}

#Foucs .FoucsCommon .Menu {
	width: 190px;
	height: 420px;
	float: left;
}

#Foucs .FoucsCommon .Menu ul li {
	height: 69px;
	color: black;
	position: relative;
}

#Foucs .FoucsCommon .Menu .col1 {
	background: rgb(233,231,220);
}
#Foucs .FoucsCommon .Menu .col2{
	background:white;
}
#Foucs .FoucsCommon .Menu ul li h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-indent: 20px;
	cursor: pointer;
}

#Foucs .FoucsCommon .Menu ul li p {
	font-size: 12px;
}

#Foucs .FoucsCommon .Menu ul li p a {
	color: #000000;
	padding-left: 20px;
}

#Foucs .FoucsCommon .Menu ul li p a:hover {
	color: #f42760;
}


/*二级菜单*/

#Foucs .Menu ul {
	position: relative;
}
/*头部焦点  Flash 动画特效*/

#Foucs {
	width: 100%;
	height: 419px;
	overflow: hidden;
}

#Foucs .FoucsCommon {
	width: 1200px;
	height: 419px;
	margin: 0px auto;
}

#Foucs .FoucsCommon .flash {
	width: 820px;
	height: 419px;
	background-image: url(../images/five.jpg);
	background: cover;
	background-repeat: no-repeat;
	float: left;
	position: relative;
}

#Foucs .FoucsCommon .flash a {
	width: 71px;
	height: 71px;
	display: block;
	display: none;
	position: absolute;
	top: 180px;
	z-index: 333;
}

#Foucs .FoucsCommon .flash a.prev {
	left: -35px;
	background: url("../images/but.png") -71px 0px;
}

#Foucs .FoucsCommon .flash a.next {
	right: -35px;
	background: url("../images/but.png") -71px -71px;
}

#Foucs .FoucsCommon .flash a.prev:hover {
	background-position: 0px 0px;
}

#Foucs .FoucsCommon .flash a.next:hover {
	background-position: 0px -71px;
}

#Foucs .FoucsCommon .flash .scroll {
	width: 820px;
	height: 419px;
	position: relative;
	overflow: hidden;
}

#Foucs .FoucsCommon .flash .scroll img {
	position: absolute;
	left: 820px;
}

#Foucs .FoucsCommon .flash .But {
	width: 150px;
	height: 20px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 340px;
	bottom: 10px;
	border-radius: 20px;
	text-align: center;
}

#Foucs .FoucsCommon .flash .But span {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	background: #666;
}

#Foucs .FoucsCommon .flash .But span.hover {
	background: #ff0099;
}

#Foucs .FoucsCommon .news {
	width: 190px;
	height: 419px;
	float: right;
	position: relative;
}

#Foucs .FoucsCommon .news .newsback {
	width: 190px;
	height: 419px;
	background: white;
}

#Foucs .FoucsCommon .news .newsCommon {
	position: absolute;
	width: 190px;
	height: 419px;
	top: 0px;
	left: 0px;
	color: #fff;
}

#Foucs .FoucsCommon .news .newsCommon h3 {
	height: 43px;
	background: rgb(233,231,220);
	font-size: 14px;
	color: black;
	line-height: 43px;
	text-indent: 20px;
	font-family: "微软雅黑";
	font-weight: 700;
	cursor: pointer;
}

#Foucs .FoucsCommon .news .newsCommon ul li {
	font-size: 12px;
	color: #000000;
	font-family: "微软雅黑";
	line-height: 30px;
}

#Foucs .FoucsCommon .news .newsCommon ul {
	padding: 10px 10px 15px 10px;
}

#Foucs .FoucsCommon .news .newsCommon ul li a {
	color: #000000;
}

#Foucs .FoucsCommon .news .newsCommon ul li a:hover {
	color: red;
	font-size: 13px;
}

#Foucs .FoucsCommon .news .newsCommon ul li a font {
	color: red;
}

#Foucs .FoucsCommon .news .newsCommon ul li a.first {
	color: red;
}

#Foucs .FoucsCommon .news .Datatx ul li {
	background: white;
	margin-bottom: 5px;
	text-indent: 3px;
}


/*小说分类*/

.fenlei {
	width: 1200px;
	height: 535px;
	margin: 0px auto;
}

.fenlei p.ti {
	line-height: 40px;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 2px;
	border-bottom: 2px solid black;
}

.fenlei .Part {
	border: 1px solid #ddd;
	height: 500px;
}

.fenlei .PartL {
	width: 320px;
	height: 500px;
	position: relative;
	float: left;
}

.fenlei .PartM {
	width: 175px;
	height: 500px;
	float: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.fenlei .PartR {
	width: 680px;
	height: 500px;
	float: right;
}

.fenlei .PartL p.title {
	font-size: 16px;
	color: #666;
	width: 280px;
	margin: 0px auto;
	line-height: 30px;
	text-align: center;
}

.fenlei .PartL img.prev {
	display: block;
	position: absolute;
	left: 10px;
	top: 210px;
}

.fenlei .PartL img.next {
	display: block;
	position: absolute;
	right: 10px;
	top: 210px;
}

.fenlei .PartL .imgList {
	width: 280px;
	height: 480px;
	margin: 10px auto;
	overflow: hidden;
	position: relative;
}

.fenlei .PartL ul {
	width: 2000px;
	position: absolute;
}

.fenlei .PartL ul li {
	width: 280px;
	height: 480px;
	list-style-type: none;
	float: left;
}

.fenlei .PartL ul li h3 {
	font-size: 16px;
	color: #666;
	line-height: 35px;
	font-weight: 100;
	font-family: "微软雅黑";
	text-align: center;
}

.fenlei .PartL ul li span {
	font-size: 14px;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: block;
	margin: 30px auto;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: "微软雅黑";
}

.fenlei .PartL ul li span font {
	color: #ff3366;
}

.fenlei .PartM ul li {
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-size: 14px;
	text-align: Center;
	position: relative;
	background: #efefef;
}

.fenlei .PartM ul li.active {
	background: #efefef;
	color: #ff4a01;
}

.fenlei .PartM p {
	font-size: 16px;
	color: #666;
	padding: 0px 20px;
}
.fenlei .PartM a{
	width: 170px;
	height: 45px;
	display: block;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	color: #666;
	text-align: Center;
}
.fenlei .PartM span.hot {
	width: 110px;
	height: 35px;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-align: center;
	line-height: 35px;
	display: block;
	margin: 20px auto;
	font-size: 14px;
	color: #fd0033;
}

.fenlei .active ul li.one {
	width: 100px;
	height: 50px;
	background: palegreen;
	position: absolute;
	left: 190px;
	z-index: 2;
	display: none;
}

.fenlei ul span:hover {
	font-size: 18px;
	cursor: pointer;
	color: red;
}

.fenlei .PartM .faceul_zero img {
	width: 150px;
	height: 148px;
	padding: 10px;
	transition: all ease-in 0.8s;
}

.fenlei .PartM .faceul_zero:hover>img {
	transform: scale(1.1);
}

.fenlei .PartR ul li {
	width: 200px;
	margin: 10px;
	float: left;
	position: relative;
}

.fenlei .PartR img {
	width: 200px;
	height: 220px;
	margin: 0 auto;
}

.book {
	width: 680px;
	clear: left;
	margin-bottom: 10px;
	float: left;
}

.book ul {
	width: 100%;
	overflow: hidden;
	border-top: 1px #cccccc solid;
	border-right: 1px #cccccc solid;
}

.book ul li {
	position: relative;
	float: left;
	width: 200px;
	height: 220px;
	overflow: hidden;
	text-align: center;
	border-left: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
}

.book ul li img {
	display: block;
	transition: all ease 0.6s;
}

.book ul li:hover>img {
	transform: scale(1.1);
}

.book .box>div {
	width: 200px;
	height: 220px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	transition: all ease 0.6s;
}

.book .box:hover>div{
	background: rgba(0,0,0,0.3);
}
.book .box>div>h2{
	margin-top: 200px;
	color: #FFFFFF;
	text-align: center;
	opacity: 0;
	transition: all ease-in 0.6s;
}
.book .box:hover>div>h2{
	margin-top: 95px;
	opacity: 1;
}

/* searchTxt */

.searchTxt .searchMenu .searchSelected {
	background-image: url(../images/searchbg.png);
	background-repeat: no-repeat;
	color: #a8a8a8;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	width: 48px;
	background-position: 0px -47px;
}

.searchTxt {
	float: left;
	width: 452px;
	height: 40px;
	border: 2px solid #d3d3d3;
	border-right: 0;
	position: relative;
	z-index: 20;
	background: #fff;
}



.searchTxt .searchMenu {
	float: left;
}

.searchTxt .searchMenu .searchOpen {
	background-position: 0px -104px;
}

.searchTxt .searchMenu .searchTab {
	display: none;
	position: absolute;
	top: 30px;
	left: -2px;
	width: 58px;
	border: 2px solid #3297d8;
	border-top: 0;
	background: #fff;
	height: 258px;
	z-index: 20;
}

.searchTxt .searchMenu .searchTab li {
	width: 58px;
	height: 28px;
	line-height: 28px;
	color: #a8a8a8;
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	cursor: pointer;
}

.searchTxt .searchMenu .searchTab li.selected {
	background: #edf3fc;
	color: #6994c1;
}

.searchTxt input {
	float: left;
	border: 0;
	background: #fff;
	color: #333;
	font: 16px/22px '宋体', sans-serif;
	width: 300px;
	height: 30px;
	margin: 0;
	outline: medium none;
	padding: 4px;
}

.searchBtn {
	float: right;
	display: block;
	background:url(../images/sousuo.png) no-repeat 5px 5px ;
	z-index: 330;
	width: 40px;
	height: 40px;
}


.searchBtn button {
	float: right;
	width:40px;
	height: 40px;
	border: none;
	opacity: 0;
}

.Footer .footer_nav {
	font-size: 12px;
	text-align: center;
	color: #ddd;
	margin-top: 30px;
	cursor: pointer;
}

.Footer p {
	text-align: center;
	font-size: 12px
}

.Footer p a {
	color: #00A1D2;
	cursor: pointer;
}

.Footer span {
	color: #00A1D2;
}

.Footer img {
	border: 1px solid #ddd;
	margin: 0 10px
}

.Tab_tit {
	font-size: 12px;
	line-height: 24px;
	color: #ddd;
	margin-bottom: 10px;
}